.primary-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: $base-white;
  background-color: $primary-blue;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $primary-dark-blue;
    background-color: $base-white;
    border: 1px solid $primary-dark-blue;
  }

  &:focus {
    color: $primary-dark-blue;
    background-color: $base-white;
  }

  &:active {
    color: $base-white;
    background-color: $primary-dark-blue;
  }

  &:disabled {
    color: $base-white;
    background-color: $base-grey;
    pointer-events: none;
    cursor: default;
  }
}
