.review-card__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  margin: 0;
  padding: 20px;
  background-color: $base-white;
  box-shadow: 0 0 20px 0 $primary-shadow;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    min-width: 565px;
    padding: 20px 30px 20px 20px;
    box-shadow: 0 0 30px 0 $primary-shadow;
  }

  @media (min-width: $desktop-width) {
    min-width: 700px;
    padding: 20px 40px 20px 20px;
  }
}

.review-card__image-wrap {
  display: block;
  width: 250px;
  height: 169px;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  background-color: $base-light-grey;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.review-card__image {
  display: block;
  width: 250px;
  height: 169px;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.review-card__content {
  margin: 0;
  padding: 0;
  max-width: 250px;

  @media (min-width: $tablet-width) {
    max-width: 299px;
  }

  @media (min-width: $desktop-width) {
    max-width: 352px;
  }
}

.review-card__text-wrap {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -7px;
    margin-bottom: 4px;
  }
}

.review-card__text-wrap p {
  margin: 0;
  padding: 0;

  &:first-child {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.review-card__text-wrap span {
  display: inline;

  @media (min-width: $tablet-width) {
    display: block;
    word-wrap: break-word;
  }
}

.review-card__text-wrap br {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.review-card__name-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.review-card__name {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 13px;
  }

  @media (min-width: $desktop-width) {
    font-size: 13px;
    line-height: 13px;
  }
}

.review-card__age {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
